.container[data-v-da29a32a] {
  width: 100%;
}
@media (min-width: 640px) {
.container[data-v-da29a32a] {
    max-width: 640px;
}
}
@media (min-width: 768px) {
.container[data-v-da29a32a] {
    max-width: 768px;
}
}
@media (min-width: 1024px) {
.container[data-v-da29a32a] {
    max-width: 1024px;
}
}
@media (min-width: 1280px) {
.container[data-v-da29a32a] {
    max-width: 1280px;
}
}
@media (min-width: 1536px) {
.container[data-v-da29a32a] {
    max-width: 1536px;
}
}
.invisible[data-v-da29a32a] {
  visibility: hidden;
}
.static[data-v-da29a32a] {
  position: static;
}
.fixed[data-v-da29a32a] {
  position: fixed;
}
.absolute[data-v-da29a32a] {
  position: absolute;
}
.relative[data-v-da29a32a] {
  position: relative;
}
.m-2[data-v-da29a32a] {
  margin: 0.5rem;
}
.block[data-v-da29a32a] {
  display: block;
}
.flex[data-v-da29a32a] {
  display: flex;
}
.table[data-v-da29a32a] {
  display: table;
}
.grid[data-v-da29a32a] {
  display: grid;
}
.hidden[data-v-da29a32a] {
  display: none;
}
.w-px[data-v-da29a32a] {
  width: 1px;
}
.flex-1[data-v-da29a32a] {
  flex: 1 1 0%;
}
.flex-shrink[data-v-da29a32a] {
  flex-shrink: 1;
}
.flex-grow[data-v-da29a32a] {
  flex-grow: 1;
}
.transform[data-v-da29a32a] {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.resize[data-v-da29a32a] {
  resize: both;
}
.flex-wrap[data-v-da29a32a] {
  flex-wrap: wrap;
}
.overflow-auto[data-v-da29a32a] {
  overflow: auto;
}
.overflow-hidden[data-v-da29a32a] {
  overflow: hidden;
}
.border[data-v-da29a32a] {
  border-width: 1px;
}
.underline[data-v-da29a32a] {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.shadow[data-v-da29a32a] {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow: 0 1px 0.156vw 0 rgb(0 0 0 / 0.1), 0 1px 0.104vw -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  --tw-shadow-colored: 0 1px 0.156vw 0 var(--tw-shadow-color), 0 1px 0.104vw -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline[data-v-da29a32a] {
  outline-style: solid;
}
.blur[data-v-da29a32a] {
  --tw-blur: blur(8px);
  --tw-blur: blur(0.417vw);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.invert[data-v-da29a32a] {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.filter[data-v-da29a32a] {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.backdrop-filter[data-v-da29a32a] {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
.transition[data-v-da29a32a] {
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.w100[data-v-da29a32a] {
  width: 100%;
}
.h100[data-v-da29a32a] {
  height: 100%;
}
.wh100[data-v-da29a32a] {
  width: 100%;
  height: 100%;
}
.no-padding[data-v-da29a32a] {
  padding: 0 !important;
}
.no-border[data-v-da29a32a] {
  border: none !important;
  box-shadow: none !important;
  border-bottom: none !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.font-size-20[data-v-da29a32a] {
  font-size: 20px;
  font-size: 1.042vw;
}
.flex[data-v-da29a32a] {
  display: flex;
}
.inline-flex[data-v-da29a32a] {
  display: inline-flex;
}
.flex-grow-0[data-v-da29a32a] {
  flex-grow: 0;
}
.flex-row[data-v-da29a32a] {
  display: flex;
  flex-flow: row nowrap;
}
.inline-flex-row[data-v-da29a32a] {
  display: inline-flex;
  flex-flow: row nowrap;
}
.flex-column[data-v-da29a32a] {
  display: flex;
  flex-flow: column nowrap;
}
.inline-flex-column[data-v-da29a32a] {
  display: inline-flex;
  flex-flow: column nowrap;
}
.flex-align-all-center[data-v-da29a32a] {
  align-items: center;
  justify-content: center;
  align-content: center;
}
.flex-row-center-center[data-v-da29a32a] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.inline-flex-row-center-center[data-v-da29a32a] {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.flex-column-center-center[data-v-da29a32a] {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.inline-flex-column-center-center[data-v-da29a32a] {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.flex-row-center-between[data-v-da29a32a] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.inline-flex-row-center-between[data-v-da29a32a] {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.flex-column-center-between[data-v-da29a32a] {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
.inline-flex-column-center-between[data-v-da29a32a] {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
.flex-row-center-start[data-v-da29a32a] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
.inline-flex-row-center-start[data-v-da29a32a] {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
.flex-column-center-start[data-v-da29a32a] {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}
.inline-flex-column-center-start[data-v-da29a32a] {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}
.flex-row-center-end[data-v-da29a32a] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}
.inline-flex-row-center-end[data-v-da29a32a] {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}
.flex-column-center-end[data-v-da29a32a] {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
}
.inline-flex-column-center-end[data-v-da29a32a] {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
}
.flex-row-center-around[data-v-da29a32a] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
.inline-flex-row-center-around[data-v-da29a32a] {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
.flex-column-center-around[data-v-da29a32a] {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}
.inline-flex-column-center-around[data-v-da29a32a] {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}
.flex-row-center-evenly[data-v-da29a32a] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.inline-flex-row-center-evenly[data-v-da29a32a] {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.flex-column-center-evenly[data-v-da29a32a] {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.inline-flex-column-center-evenly[data-v-da29a32a] {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.align-center[data-v-da29a32a] {
  text-align: center;
}
div.chart[data-v-da29a32a] {
  width: 100%;
  height: 100%;
  display: block;
}
.mdi[data-v-da29a32a] {
  font-family: 'Material Design Icons';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: baseline;
}
.float-right[data-v-da29a32a] {
  float: right;
}
.float-left[data-v-da29a32a] {
  float: left;
}
.abs-right[data-v-da29a32a] {
  position: absolute;
  right: 0;
}
.abs-left[data-v-da29a32a] {
  position: absolute;
  left: 0;
}
.relative[data-v-da29a32a] {
  position: relative;
}
.margin-bottom-10[data-v-da29a32a] {
  margin-bottom: 10px;
  margin-bottom: 0.521vw;
}
.margin-top-10[data-v-da29a32a] {
  margin-top: 10px;
  margin-top: 0.521vw;
}
.margin-top-20[data-v-da29a32a] {
  margin-top: 20px;
  margin-top: 1.042vw;
}
.margin-left-10[data-v-da29a32a] {
  margin-left: 10px;
  margin-left: 0.521vw;
}
.margin-left-20[data-v-da29a32a] {
  margin-left: 20px;
  margin-left: 1.042vw;
}
.margin-right-10[data-v-da29a32a] {
  margin-right: 10px;
  margin-right: 0.521vw;
}
.margin-right-20[data-v-da29a32a] {
  margin-right: 20px;
  margin-right: 1.042vw;
}
.margin-bottom-5[data-v-da29a32a] {
  margin-bottom: 5px;
  margin-bottom: 0.26vw;
}
.margin-top-5[data-v-da29a32a] {
  margin-top: 5px;
  margin-top: 0.26vw;
}
.margin-left-5[data-v-da29a32a] {
  margin-left: 5px;
  margin-left: 0.26vw;
}
.margin-right-5[data-v-da29a32a] {
  margin-right: 5px;
  margin-right: 0.26vw;
}
.padding-bottom-10[data-v-da29a32a] {
  padding-bottom: 10px;
  padding-bottom: 0.521vw;
}
.padding-top-10[data-v-da29a32a] {
  padding-top: 10px;
  padding-top: 0.521vw;
}
.padding-left-10[data-v-da29a32a] {
  padding-left: 10px;
  padding-left: 0.521vw;
}
.padding-right-10[data-v-da29a32a] {
  padding-right: 10px;
  padding-right: 0.521vw;
}
.padding-5[data-v-da29a32a] {
  padding: 5px;
  padding: 0.26vw;
}
.padding-10[data-v-da29a32a] {
  padding: 10px;
  padding: 0.521vw;
}
.padding-15[data-v-da29a32a] {
  padding: 15px;
  padding: 0.781vw;
}
.padding-20[data-v-da29a32a] {
  padding: 20px;
  padding: 1.042vw;
}
.padding-bottom-5[data-v-da29a32a] {
  padding-bottom: 5px;
  padding-bottom: 0.26vw;
}
.padding-top-5[data-v-da29a32a] {
  padding-top: 5px;
  padding-top: 0.26vw;
}
.padding-left-5[data-v-da29a32a] {
  padding-left: 5px;
  padding-left: 0.26vw;
}
.padding-right-5[data-v-da29a32a] {
  padding-right: 5px;
  padding-right: 0.26vw;
}
.no-bg[data-v-da29a32a] {
  background: transparent !important;
  background-image: none !important;
}
.children_no_event[data-v-da29a32a] {
  cursor: pointer;
}
.children_no_event *[data-v-da29a32a] {
  pointer-events: none;
}
.no-event[data-v-da29a32a] {
  pointer-events: none;
}
.overflow_auto[data-v-da29a32a] {
  overflow: auto !important;
}
.cursor_pointer[data-v-da29a32a]:hover {
  cursor: pointer;
}
.no-margin[data-v-da29a32a] {
  margin: 0;
}
.overflow-auto[data-v-da29a32a] {
  overflow: auto;
}
/* ==========弹性布局=====开始===== */
.flexSb[data-v-da29a32a] {
  display: flex;
  justify-content: space-between;
}
.flexFs[data-v-da29a32a] {
  display: flex;
  justify-content: flex-start;
}
.flexC[data-v-da29a32a] {
  display: flex;
  justify-content: center;
}
.flexFe[data-v-da29a32a] {
  display: flex;
  justify-content: flex-end;
}
.flexSa[data-v-da29a32a] {
  display: flex;
  justify-content: space-around;
}
.flexC_sb[data-v-da29a32a] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flexC_fs[data-v-da29a32a] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.flexC_c[data-v-da29a32a] {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flexC_fe[data-v-da29a32a] {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.flexC_sa[data-v-da29a32a] {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* ==========弹性布局=====结束===== */
.text-yellow[data-v-da29a32a] {
  color: yellow;
}
.children_margin_bottom_5 > div[data-v-da29a32a],
.cr_mb_5 > div[data-v-da29a32a] {
  margin-bottom: 5px;
  margin-bottom: 0.26vw;
}
.children_margin_bottom_10 > div[data-v-da29a32a],
.cr_mb_10 > div[data-v-da29a32a] {
  margin-bottom: 10px;
  margin-bottom: 0.521vw;
}
.children_margin_bottom_20 > div[data-v-da29a32a],
.cr_mb_20 > div[data-v-da29a32a] {
  margin-bottom: 20px;
  margin-bottom: 1.042vw;
}
.children_margin_bottom_30 > div[data-v-da29a32a],
.cr_mb_30 > div[data-v-da29a32a] {
  margin-bottom: 30px;
  margin-bottom: 1.563vw;
}
.children_margin_bottom_50 > div[data-v-da29a32a],
.cr_mb_50 > div[data-v-da29a32a] {
  margin-bottom: 50px;
  margin-bottom: 2.604vw;
}
.flex-wrap[data-v-da29a32a] {
  flex-wrap: wrap;
}
.flex-nowrap[data-v-da29a32a] {
  flex-wrap: nowrap;
}
/* font */
/* size */
/* icon */
/* color */
/* input/radio/checkbox */
/* popup */
/* table */
/* table color */
/* table row */
/* table column */
/* table cell */
/* table checkbox */
/* table tree */
/* menu */
/* loading */
/* validate */
/* toolbar */
/* tooltip */
/* modal */
/* checkbox */
/* radio */
/* button */
/* input */
/* textarea */
/* form */
/* select */
/*表格字体大小*/
.vxe-cell--title[data-v-da29a32a] {
  font-size: 16px;
  font-size: 0.833vw;
}
.vxe-body--row[data-v-da29a32a] {
  font-size: 14px;
  font-size: 0.729vw;
}
.el-table__header[data-v-da29a32a] {
  font-size: 16px;
  font-size: 0.833vw;
}
.el-table__body[data-v-da29a32a] {
  font-size: 14px;
  font-size: 0.729vw;
}
.self-dialog.el-dialog .el-dialog__header[data-v-da29a32a] {
  height: 0;
  margin: 0;
  padding: 0;
}
.self-dialog.el-dialog .el-dialog__body[data-v-da29a32a] {
  height: calc(100% - 30px);
  height: calc(100% - 1.563vw);
  padding-top: 5px;
  padding-top: 0.26vw;
  padding-bottom: 5px;
  padding-bottom: 0.26vw;
}
.webix_view.webix_control.webix_el_tabbar[data-v-da29a32a] {
  margin-bottom: 10px;
  margin-bottom: 0.521vw;
}
.webix_window.popup .webix_dtable[data-v-da29a32a] {
  font-size: 14px;
  font-size: 0.729vw;
}
.calc_title_text[data-v-da29a32a] {
  margin: 2px 5px;
  margin: 0.104vw 0.26vw;
  font-size: 16px;
  font-size: 0.833vw;
  letter-spacing: 1px;
  font-weight: bold;
  color: #007E7E;
}
.box[data-v-da29a32a] {
  padding-top: 60px;
  padding-top: 3.125vw;
  height: 1300px;
  height: 67.708vw;
  width: 100%;
  background-color: rgba(201, 188, 188, 0.1);
}
.box *[data-v-da29a32a] {
  box-sizing: border-box;
}
.service-block[data-v-da29a32a] {
  width: 80%;
  margin: 30px auto 50px;
  margin: 1.563vw auto 2.604vw;
  text-align: center;
}
.service-block .block-line[data-v-da29a32a] {
  margin: 0 auto 12px;
  margin: 0 auto 0.625vw;
  width: 24px;
  width: 1.25vw;
  height: 4px;
  height: 0.208vw;
  background-color: #3370ff;
  border-radius: 100px;
  border-radius: 5.208vw;
}
.service-block .service-info-title[data-v-da29a32a] {
  font-weight: 700;
  font-size: 24px;
  font-size: 1.25vw;
  position: relative;
  text-align: center;
  color: #FFFFFF;
  width: 240px;
  width: 12.5vw;
  height: 40px;
  height: 2.083vw;
  line-height: 40px;
  line-height: 2.083vw;
  background-color: purple;
}
.service-block .service-info-subtitle[data-v-da29a32a] {
  font-size: 16px;
  font-size: 0.833vw;
  line-height: 1.5;
  color: #646a73;
  margin-top: 30px;
  margin-top: 1.563vw;
}
.service-block .service-list[data-v-da29a32a] {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  margin: 50px 50px 80px;
  margin: 2.604vw 2.604vw 4.167vw;
}
.service-block .service-list .service-title[data-v-da29a32a] {
  width: 30%;
  margin-bottom: 50px;
  margin-bottom: 2.604vw;
}
.service-block .service-title-shadow[data-v-da29a32a] {
  width: 100%;
  height: 120px;
  height: 6.25vw;
  border-radius: 50%;
  margin-top: 20px;
  margin-top: 1.042vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.3s;
}
.service-block .service-title-shadow img[data-v-da29a32a] {
  width: 115px;
  width: 5.99vw;
  height: 140px;
  height: 7.292vw;
}
.service-block .service-des[data-v-da29a32a] {
  margin: 20px auto 0px;
  margin: 1.042vw auto 0px;
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  font-size: 0.781vw;
  width: 80%;
}
.service-block .service-name[data-v-da29a32a] {
  margin: 20px auto 0px;
  margin: 1.042vw auto 0px;
  font-weight: 600;
  font-size: 15px;
  font-size: 0.781vw;
  width: 60%;
}
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
