.container[data-v-e245da0e] {
  width: 100%;
}
@media (min-width: 640px) {
.container[data-v-e245da0e] {
    max-width: 640px;
}
}
@media (min-width: 768px) {
.container[data-v-e245da0e] {
    max-width: 768px;
}
}
@media (min-width: 1024px) {
.container[data-v-e245da0e] {
    max-width: 1024px;
}
}
@media (min-width: 1280px) {
.container[data-v-e245da0e] {
    max-width: 1280px;
}
}
@media (min-width: 1536px) {
.container[data-v-e245da0e] {
    max-width: 1536px;
}
}
.invisible[data-v-e245da0e] {
  visibility: hidden;
}
.static[data-v-e245da0e] {
  position: static;
}
.fixed[data-v-e245da0e] {
  position: fixed;
}
.absolute[data-v-e245da0e] {
  position: absolute;
}
.relative[data-v-e245da0e] {
  position: relative;
}
.m-2[data-v-e245da0e] {
  margin: 0.5rem;
}
.block[data-v-e245da0e] {
  display: block;
}
.flex[data-v-e245da0e] {
  display: flex;
}
.table[data-v-e245da0e] {
  display: table;
}
.grid[data-v-e245da0e] {
  display: grid;
}
.hidden[data-v-e245da0e] {
  display: none;
}
.w-px[data-v-e245da0e] {
  width: 1px;
}
.flex-1[data-v-e245da0e] {
  flex: 1 1 0%;
}
.flex-shrink[data-v-e245da0e] {
  flex-shrink: 1;
}
.flex-grow[data-v-e245da0e] {
  flex-grow: 1;
}
.transform[data-v-e245da0e] {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.resize[data-v-e245da0e] {
  resize: both;
}
.flex-wrap[data-v-e245da0e] {
  flex-wrap: wrap;
}
.overflow-auto[data-v-e245da0e] {
  overflow: auto;
}
.overflow-hidden[data-v-e245da0e] {
  overflow: hidden;
}
.border[data-v-e245da0e] {
  border-width: 1px;
}
.underline[data-v-e245da0e] {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.shadow[data-v-e245da0e] {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow: 0 1px 0.156vw 0 rgb(0 0 0 / 0.1), 0 1px 0.104vw -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  --tw-shadow-colored: 0 1px 0.156vw 0 var(--tw-shadow-color), 0 1px 0.104vw -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline[data-v-e245da0e] {
  outline-style: solid;
}
.blur[data-v-e245da0e] {
  --tw-blur: blur(8px);
  --tw-blur: blur(0.417vw);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.invert[data-v-e245da0e] {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.filter[data-v-e245da0e] {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.backdrop-filter[data-v-e245da0e] {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
.transition[data-v-e245da0e] {
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.w100[data-v-e245da0e] {
  width: 100%;
}
.h100[data-v-e245da0e] {
  height: 100%;
}
.wh100[data-v-e245da0e] {
  width: 100%;
  height: 100%;
}
.no-padding[data-v-e245da0e] {
  padding: 0 !important;
}
.no-border[data-v-e245da0e] {
  border: none !important;
  box-shadow: none !important;
  border-bottom: none !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.font-size-20[data-v-e245da0e] {
  font-size: 20px;
  font-size: 1.042vw;
}
.flex[data-v-e245da0e] {
  display: flex;
}
.inline-flex[data-v-e245da0e] {
  display: inline-flex;
}
.flex-grow-0[data-v-e245da0e] {
  flex-grow: 0;
}
.flex-row[data-v-e245da0e] {
  display: flex;
  flex-flow: row nowrap;
}
.inline-flex-row[data-v-e245da0e] {
  display: inline-flex;
  flex-flow: row nowrap;
}
.flex-column[data-v-e245da0e] {
  display: flex;
  flex-flow: column nowrap;
}
.inline-flex-column[data-v-e245da0e] {
  display: inline-flex;
  flex-flow: column nowrap;
}
.flex-align-all-center[data-v-e245da0e] {
  align-items: center;
  justify-content: center;
  align-content: center;
}
.flex-row-center-center[data-v-e245da0e] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.inline-flex-row-center-center[data-v-e245da0e] {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.flex-column-center-center[data-v-e245da0e] {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.inline-flex-column-center-center[data-v-e245da0e] {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.flex-row-center-between[data-v-e245da0e] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.inline-flex-row-center-between[data-v-e245da0e] {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.flex-column-center-between[data-v-e245da0e] {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
.inline-flex-column-center-between[data-v-e245da0e] {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
.flex-row-center-start[data-v-e245da0e] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
.inline-flex-row-center-start[data-v-e245da0e] {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
.flex-column-center-start[data-v-e245da0e] {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}
.inline-flex-column-center-start[data-v-e245da0e] {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}
.flex-row-center-end[data-v-e245da0e] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}
.inline-flex-row-center-end[data-v-e245da0e] {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}
.flex-column-center-end[data-v-e245da0e] {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
}
.inline-flex-column-center-end[data-v-e245da0e] {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
}
.flex-row-center-around[data-v-e245da0e] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
.inline-flex-row-center-around[data-v-e245da0e] {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
.flex-column-center-around[data-v-e245da0e] {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}
.inline-flex-column-center-around[data-v-e245da0e] {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}
.flex-row-center-evenly[data-v-e245da0e] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.inline-flex-row-center-evenly[data-v-e245da0e] {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.flex-column-center-evenly[data-v-e245da0e] {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.inline-flex-column-center-evenly[data-v-e245da0e] {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.align-center[data-v-e245da0e] {
  text-align: center;
}
div.chart[data-v-e245da0e] {
  width: 100%;
  height: 100%;
  display: block;
}
.mdi[data-v-e245da0e] {
  font-family: 'Material Design Icons';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: baseline;
}
.float-right[data-v-e245da0e] {
  float: right;
}
.float-left[data-v-e245da0e] {
  float: left;
}
.abs-right[data-v-e245da0e] {
  position: absolute;
  right: 0;
}
.abs-left[data-v-e245da0e] {
  position: absolute;
  left: 0;
}
.relative[data-v-e245da0e] {
  position: relative;
}
.margin-bottom-10[data-v-e245da0e] {
  margin-bottom: 10px;
  margin-bottom: 0.521vw;
}
.margin-top-10[data-v-e245da0e] {
  margin-top: 10px;
  margin-top: 0.521vw;
}
.margin-top-20[data-v-e245da0e] {
  margin-top: 20px;
  margin-top: 1.042vw;
}
.margin-left-10[data-v-e245da0e] {
  margin-left: 10px;
  margin-left: 0.521vw;
}
.margin-left-20[data-v-e245da0e] {
  margin-left: 20px;
  margin-left: 1.042vw;
}
.margin-right-10[data-v-e245da0e] {
  margin-right: 10px;
  margin-right: 0.521vw;
}
.margin-right-20[data-v-e245da0e] {
  margin-right: 20px;
  margin-right: 1.042vw;
}
.margin-bottom-5[data-v-e245da0e] {
  margin-bottom: 5px;
  margin-bottom: 0.26vw;
}
.margin-top-5[data-v-e245da0e] {
  margin-top: 5px;
  margin-top: 0.26vw;
}
.margin-left-5[data-v-e245da0e] {
  margin-left: 5px;
  margin-left: 0.26vw;
}
.margin-right-5[data-v-e245da0e] {
  margin-right: 5px;
  margin-right: 0.26vw;
}
.padding-bottom-10[data-v-e245da0e] {
  padding-bottom: 10px;
  padding-bottom: 0.521vw;
}
.padding-top-10[data-v-e245da0e] {
  padding-top: 10px;
  padding-top: 0.521vw;
}
.padding-left-10[data-v-e245da0e] {
  padding-left: 10px;
  padding-left: 0.521vw;
}
.padding-right-10[data-v-e245da0e] {
  padding-right: 10px;
  padding-right: 0.521vw;
}
.padding-5[data-v-e245da0e] {
  padding: 5px;
  padding: 0.26vw;
}
.padding-10[data-v-e245da0e] {
  padding: 10px;
  padding: 0.521vw;
}
.padding-15[data-v-e245da0e] {
  padding: 15px;
  padding: 0.781vw;
}
.padding-20[data-v-e245da0e] {
  padding: 20px;
  padding: 1.042vw;
}
.padding-bottom-5[data-v-e245da0e] {
  padding-bottom: 5px;
  padding-bottom: 0.26vw;
}
.padding-top-5[data-v-e245da0e] {
  padding-top: 5px;
  padding-top: 0.26vw;
}
.padding-left-5[data-v-e245da0e] {
  padding-left: 5px;
  padding-left: 0.26vw;
}
.padding-right-5[data-v-e245da0e] {
  padding-right: 5px;
  padding-right: 0.26vw;
}
.no-bg[data-v-e245da0e] {
  background: transparent !important;
  background-image: none !important;
}
.children_no_event[data-v-e245da0e] {
  cursor: pointer;
}
.children_no_event *[data-v-e245da0e] {
  pointer-events: none;
}
.no-event[data-v-e245da0e] {
  pointer-events: none;
}
.overflow_auto[data-v-e245da0e] {
  overflow: auto !important;
}
.cursor_pointer[data-v-e245da0e]:hover {
  cursor: pointer;
}
.no-margin[data-v-e245da0e] {
  margin: 0;
}
.overflow-auto[data-v-e245da0e] {
  overflow: auto;
}
/* ==========弹性布局=====开始===== */
.flexSb[data-v-e245da0e] {
  display: flex;
  justify-content: space-between;
}
.flexFs[data-v-e245da0e] {
  display: flex;
  justify-content: flex-start;
}
.flexC[data-v-e245da0e] {
  display: flex;
  justify-content: center;
}
.flexFe[data-v-e245da0e] {
  display: flex;
  justify-content: flex-end;
}
.flexSa[data-v-e245da0e] {
  display: flex;
  justify-content: space-around;
}
.flexC_sb[data-v-e245da0e] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flexC_fs[data-v-e245da0e] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.flexC_c[data-v-e245da0e] {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flexC_fe[data-v-e245da0e] {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.flexC_sa[data-v-e245da0e] {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* ==========弹性布局=====结束===== */
.text-yellow[data-v-e245da0e] {
  color: yellow;
}
.children_margin_bottom_5 > div[data-v-e245da0e],
.cr_mb_5 > div[data-v-e245da0e] {
  margin-bottom: 5px;
  margin-bottom: 0.26vw;
}
.children_margin_bottom_10 > div[data-v-e245da0e],
.cr_mb_10 > div[data-v-e245da0e] {
  margin-bottom: 10px;
  margin-bottom: 0.521vw;
}
.children_margin_bottom_20 > div[data-v-e245da0e],
.cr_mb_20 > div[data-v-e245da0e] {
  margin-bottom: 20px;
  margin-bottom: 1.042vw;
}
.children_margin_bottom_30 > div[data-v-e245da0e],
.cr_mb_30 > div[data-v-e245da0e] {
  margin-bottom: 30px;
  margin-bottom: 1.563vw;
}
.children_margin_bottom_50 > div[data-v-e245da0e],
.cr_mb_50 > div[data-v-e245da0e] {
  margin-bottom: 50px;
  margin-bottom: 2.604vw;
}
.flex-wrap[data-v-e245da0e] {
  flex-wrap: wrap;
}
.flex-nowrap[data-v-e245da0e] {
  flex-wrap: nowrap;
}
/* font */
/* size */
/* icon */
/* color */
/* input/radio/checkbox */
/* popup */
/* table */
/* table color */
/* table row */
/* table column */
/* table cell */
/* table checkbox */
/* table tree */
/* menu */
/* loading */
/* validate */
/* toolbar */
/* tooltip */
/* modal */
/* checkbox */
/* radio */
/* button */
/* input */
/* textarea */
/* form */
/* select */
/*表格字体大小*/
.vxe-cell--title[data-v-e245da0e] {
  font-size: 16px;
  font-size: 0.833vw;
}
.vxe-body--row[data-v-e245da0e] {
  font-size: 14px;
  font-size: 0.729vw;
}
.el-table__header[data-v-e245da0e] {
  font-size: 16px;
  font-size: 0.833vw;
}
.el-table__body[data-v-e245da0e] {
  font-size: 14px;
  font-size: 0.729vw;
}
.self-dialog.el-dialog .el-dialog__header[data-v-e245da0e] {
  height: 0;
  margin: 0;
  padding: 0;
}
.self-dialog.el-dialog .el-dialog__body[data-v-e245da0e] {
  height: calc(100% - 30px);
  height: calc(100% - 1.563vw);
  padding-top: 5px;
  padding-top: 0.26vw;
  padding-bottom: 5px;
  padding-bottom: 0.26vw;
}
.webix_view.webix_control.webix_el_tabbar[data-v-e245da0e] {
  margin-bottom: 10px;
  margin-bottom: 0.521vw;
}
.webix_window.popup .webix_dtable[data-v-e245da0e] {
  font-size: 14px;
  font-size: 0.729vw;
}
.calc_title_text[data-v-e245da0e] {
  margin: 2px 5px;
  margin: 0.104vw 0.26vw;
  font-size: 16px;
  font-size: 0.833vw;
  letter-spacing: 1px;
  font-weight: bold;
  color: #007E7E;
}
.product_header[data-v-e245da0e] {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(0.521vw);
          backdrop-filter: blur(0.521vw);
}
.product[data-v-e245da0e] {
  position: fixed;
  z-index: 1;
  top: 60px;
  top: 3.125vw;
  right: 0;
  left: 0;
  bottom: 0;
  min-height: 600px;
  min-height: 31.25vw;
  min-width: 700px;
  min-width: 36.458vw;
}
.product-fullpage-indicator[data-v-e245da0e] {
  position: absolute;
  z-index: 333;
  right: 50px;
  right: 2.604vw;
  top: 50%;
  transform: translateY(-50%);
}
.product-fullpage-indicator-item[data-v-e245da0e] {
  margin: 22px 0;
  margin: 1.146vw 0;
  width: 5vh;
  height: 5vh;
  min-height: 30px;
  min-height: 1.563vw;
  min-width: 30px;
  min-width: 1.563vw;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 50%;
  overflow: hidden;
}
.product-fullpage-indicator-item[data-v-e245da0e]:hover,
.product-fullpage-indicator-item.active[data-v-e245da0e] {
  transform: scale(1.3);
  box-shadow: 0 0 14px 0 /*@box-shadow-dark-color*/;
  box-shadow: 0 0 0.729vw 0 ;
}
.product-fullpage-indicator-item img[data-v-e245da0e] {
  width: 100%;
  height: 100%;
}
.product .view-wrapper[data-v-e245da0e] {
  background-color: rgba(201, 188, 188, 0.1);
  position: absolute;
  height: 100vh;
  width: 100%;
  padding-left: 100px;
  padding-left: 5.208vw;
}
.product .view-wrapper .content[data-v-e245da0e] {
  width: 600px;
  width: 31.25vw;
  transform: translateY(-40%);
  position: absolute;
  top: 40%;
}
.product .view-wrapper .content .logo[data-v-e245da0e] {
  width: 80px;
  width: 4.167vw;
  height: 80px;
  height: 4.167vw;
}
.product .view-wrapper .content h2[data-v-e245da0e] {
  margin-top: 32px;
  margin-top: 1.667vw;
  line-height: 32px;
  line-height: 1.667vw;
  font-size: 28px;
  font-size: 1.458vw;
  color: #1f2329;
}
.product .view-wrapper .content .description[data-v-e245da0e] {
  margin-top: 50px;
  margin-top: 2.604vw;
  line-height: 26px;
  line-height: 1.354vw;
  font-size: 18px;
  font-size: 0.938vw;
  font-weight: 600;
  color: #1f2329;
}
.product .view-wrapper .content .description p + p[data-v-e245da0e] {
  margin-top: 20px;
  margin-top: 1.042vw;
  margin-left: 30px;
  margin-left: 1.563vw;
}
.product .view-wrapper .proPicDiv[data-v-e245da0e] {
  width: calc(100% - 1000px);
  width: calc(100% - 52.083vw);
  transform: translateY(-30%);
  position: absolute;
  top: 30%;
  left: 750px;
  left: 39.063vw;
  z-index: 333;
}
.product .view-wrapper .proPicDiv img[data-v-e245da0e] {
  width: 100%;
}
.move-up-leave-active[data-v-e245da0e] {
  -webkit-animation: out-up-e245da0e 0.7s cubic-bezier(0.66, 0, 0.34, 1);
          animation: out-up-e245da0e 0.7s cubic-bezier(0.66, 0, 0.34, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform: scale(1);
}
.move-up-enter-active[data-v-e245da0e] {
  -webkit-animation: in-up-e245da0e 0.7s cubic-bezier(0.66, 0, 0.34, 1);
          animation: in-up-e245da0e 0.7s cubic-bezier(0.66, 0, 0.34, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.move-down-leave-active[data-v-e245da0e] {
  -webkit-animation: out-down-e245da0e 0.7s cubic-bezier(0.66, 0, 0.34, 1);
          animation: out-down-e245da0e 0.7s cubic-bezier(0.66, 0, 0.34, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform: translateY(0);
}
.move-down-enter-active[data-v-e245da0e] {
  -webkit-animation: in-down-e245da0e 0.7s cubic-bezier(0.66, 0, 0.34, 1);
          animation: in-down-e245da0e 0.7s cubic-bezier(0.66, 0, 0.34, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform: scale(0.6);
}
.move-up-enter[data-v-e245da0e] {
  -webkit-animation: in-up-e245da0e 0.7s cubic-bezier(0.66, 0, 0.34, 1);
          animation: in-up-e245da0e 0.7s cubic-bezier(0.66, 0, 0.34, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.move-down-leave-to[data-v-e245da0e] {
  -webkit-animation: out-down-e245da0e 0.7s cubic-bezier(0.66, 0, 0.34, 1);
          animation: out-down-e245da0e 0.7s cubic-bezier(0.66, 0, 0.34, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform: translateY(0);
}
.move-up-enter-active .logo[data-v-e245da0e],
.move-down-enter-active .logo[data-v-e245da0e] {
  -webkit-animation: slide-up-in30-e245da0e 0.77s 0.4s;
          animation: slide-up-in30-e245da0e 0.77s 0.4s;
}
.move-up-enter-active h2[data-v-e245da0e],
.move-down-enter-active h2[data-v-e245da0e] {
  -webkit-animation: slide-up-in150-e245da0e 0.77s 0.4s;
          animation: slide-up-in150-e245da0e 0.77s 0.4s;
}
.move-up-enter-active .description[data-v-e245da0e],
.move-down-enter-active .description[data-v-e245da0e] {
  -webkit-animation: slide-up-in100-e245da0e 0.77s 0.4s;
          animation: slide-up-in100-e245da0e 0.77s 0.4s;
}
@-webkit-keyframes in-up-e245da0e {
0% {
    transform: translateY(100%);
    opacity: 0;
}
60% {
    opacity: 0.1;
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes in-up-e245da0e {
0% {
    transform: translateY(100%);
    opacity: 0;
}
60% {
    opacity: 0.1;
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
@-webkit-keyframes out-up-e245da0e {
0% {
    transform: translateY(0);
    opacity: 1;
}
50% {
    opacity: 0.1;
}
100% {
    transform: translateY(-100%);
    opacity: 0;
}
}
@keyframes out-up-e245da0e {
0% {
    transform: translateY(0);
    opacity: 1;
}
50% {
    opacity: 0.1;
}
100% {
    transform: translateY(-100%);
    opacity: 0;
}
}
@-webkit-keyframes in-down-e245da0e {
0% {
    transform: translateY(-100%);
    opacity: 0;
}
60% {
    opacity: 0.1;
}
100% {
    transform: translateY(0);
    opacity: 1;
}
}
@keyframes in-down-e245da0e {
0% {
    transform: translateY(-100%);
    opacity: 0;
}
60% {
    opacity: 0.1;
}
100% {
    transform: translateY(0);
    opacity: 1;
}
}
@-webkit-keyframes out-down-e245da0e {
0% {
    transform: translateY(0);
    opacity: 1;
}
50% {
    opacity: 0.1;
}
100% {
    opacity: 0;
    transform: translateY(100%);
}
}
@keyframes out-down-e245da0e {
0% {
    transform: translateY(0);
    opacity: 1;
}
50% {
    opacity: 0.1;
}
100% {
    opacity: 0;
    transform: translateY(100%);
}
}
@-webkit-keyframes slide-up-in30-e245da0e {
0% {
    transform: translate3d(0, 30%, 0);
    visibility: hidden;
}
100% {
    transform: translateZ(0);
    visibility: visible;
}
}
@keyframes slide-up-in30-e245da0e {
0% {
    transform: translate3d(0, 30%, 0);
    visibility: hidden;
}
100% {
    transform: translateZ(0);
    visibility: visible;
}
}
@-webkit-keyframes slide-up-in150-e245da0e {
0% {
    transform: translate3d(0, 150%, 0);
    visibility: hidden;
}
100% {
    transform: translateZ(0);
    visibility: visible;
}
}
@keyframes slide-up-in150-e245da0e {
0% {
    transform: translate3d(0, 150%, 0);
    visibility: hidden;
}
100% {
    transform: translateZ(0);
    visibility: visible;
}
}
@-webkit-keyframes slide-up-in100-e245da0e {
0% {
    transform: translate3d(0, 100px, 0);
    visibility: hidden;
}
100% {
    transform: translateZ(0);
    visibility: visible;
}
}
@keyframes slide-up-in100-e245da0e {
0% {
    transform: translate3d(0, 100px, 0);
    visibility: hidden;
}
100% {
    transform: translateZ(0);
    visibility: visible;
}
}
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
